/* STYLE SECTIONING TAGS */
body {
  nav{
    font-family: "Papyrus", Fantasy;
  }
  
  header{
    h1{
      text-decoration: underline overline;
      font-family: "Verdana", Sans-serif;
      letter-spacing: 2 px
    }
    font-family: "Lucida Handwriting", Cursive;
    color: #A11800;
    text-align: center;
  }
  
  main{
    font-family: "Verdana", Sans-serif;
    line-height: 1.6;
    h3{
     font-family: "Lucida Handwriting", Cursive;
     text-align: center;
     color: #A11800;
    }
    h4{
     font-family: "Lucida Handwriting", Cursive;
     text-align: left;
     color: #A11800;
    }


    div.skills{
      clear: both;
      h3{
        text-decoration: underline;
      }
      li{
        font-family: "Verdana", Sans-serif;
      }
    }
  }
 
  background-color: #F0DBC7; 
}

/* STYLE TEXT */



/* STYLE IMAGES */
img{
  border: 5px solid white;
  border-radius: 20px;
  float: left;
}
p.instrumentCollage{
  img{
    border: 5px solid white;
    border-radius: 20px;
    float: left;
  }
}
p.pianoSoloPic{
  clear: both;
  img{
    border: 5px solid white;
    border-radius: 20px;
    float: left;
  }
}
p.bassSoloPic{
  clear: both;
  img{
    border: 5px solid white;
    border-radius: 20px;
    float: left;
  }
}
/* STYLE NAV BAR */